@media only screen and (max-device-width: 768px) {
  body { 
    margin:0;
    padding:0;
    top: -20;
    z-index: -100;
  }
  .card-container {
    height: 100%;
  }
  .typewriter h1 {
    font-size: 80px;
  }
}

#main  {
	position: relative;
	margin: 0; 
	height: 100%;
	width:  100%;
	overflow:hidden;
}

#main2  {
	position: relative;
	margin: 0; 
	height: 100%;
	width:  100%;
}

canvas {
  margin: 0;
	position: fixed;
	z-index: -3;
}


.title {
	/*width: 29ch;*/
  animation-name: fadeIn;
  animation-duration: 2s; /* Duration of the animation */
  animation-fill-mode: forwards; /* Ensures the element remains in the final state */
  overflow: hidden;
  white-space: nowrap;
}

/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  font-family: monospace;
  font-size: 44px;
  flex-direction: column;
  color: #E0F2F1;
}

h2 {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: monospace;
}

/* Define the keyframes for fade-in */
@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
}

.dock {
  display: flex;
  justify-content: center;
}

.icon {
  padding: 5px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  float: left;
  padding-left: 15px;
}

.container {
  display: flex;
  padding-top: 1%;
  padding-left: 2%;
}

.logo-text {
  font-size: 36px;
}

.main_list {
  position:absolute;
  right: 10px;
}

a {
  text-decoration: none;
}

.card {
  margin: auto;
  width: 70%;
  padding-top: 10px;
}

.card-img-top {
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.card-container {
  height: 100%;
  padding-top: 5px;
}

.exit {
  position: fixed;
  padding-top: 1%;
  font-size: 40px;
  text-align: right;
  right: 0;
}

.card {
  margin-top: 10px;
  max-height: 100%;
  margin-bottom: 10px;
  animation-name: fadeIn;
  animation-duration: 2s; /* Duration of the animation */
  animation-fill-mode: forwards; /* Ensures the element remains in the final state */
}

.cred {
  text-align: center;
}

.artcreds {
  color: aqua;
}

.card.mb-3.about {
  display: flex;
  flex-direction: row; /* Aligns children (img and text) in a row */
  align-items: flex-start; /* Aligns items at the start of the cross axis */
  padding: 10px;
}